p{width:100%;	
	padding: 50px;
	}
	
#navigation-bar {
	background-color: #ffce00;	
}

#navigation-bar a {
	color: gray;	
	font-weight:bold;
}
#mobile-menu-entries {
	background-color: #0375b4;	
}

#mobile-menu-entries a {	
	color: white;
}

h1 {
 padding-top: 40px;
}

